body {
	background-color: #FFFFFF;
	color: #003366;
	font-family: Verdana, Arial, sans-serif;
}
/* My header image includes the text so I reformated the header
to include both readably. */
header {
	background-image: url(images/fishcreeklogo.gif);
	background-position: top center;
	text-align: center;
	background-repeat: no-repeat;
	background-color: #003366;
	color: #F0F0F0;
	height: fit-content;
	font-family: Georgia, Times, serif;
}

h1 {
	padding-top: 2em;
	padding-bottom: 0;
	margin-bottom: 0;
	margin: auto;
	line-height: 200%;
}

nav {
	background-color: #5280C5;
	text-align: center;
	font-weight: bold;
	padding: 5pt;
}

dt {
	color: #5280C5;
	font-family: Georgia, 'Times New Roman', serif;
	font-weight: bold;
	font-size: 1.1em;
}

.category {
	text-shadow: 1pt 1pt 1pt #667;
	color: #5380c5;
	font-weight: bold;
	font-family: Georgia, 'Times New Roman', serif;
}

footer p {
	font-size: 0.7em;
	font-style: italic;
}

img {
	border: none;
}

main {
	padding-left: 10pt;
	padding-right: 10pt;
}
footer nav {
	background-color: #F0F0F0;
}
#wrapper {
	width: 80%;
	min-width: 700pt;
	margin-right: auto;
	margin-left: auto;
	background-color: #F0F0F0;
}